*
{
    margin                          :               0; 
    padding                         :               0; 
    box-sizing                      :               border-box;
}

body 
{
    background-color               :           #222; 
    color                          :           white; 
}

header 
{
    padding                         :           14px 11px; 
}

header > h1 
{
    text-align                      :           center;
}

#main
{
    margin                          :           2rem 0; 
    display                         :           flex; 
    gap                             :           5rem; 
}

.info-components 
{
    width                           :           300px; 
    padding                         :           0 2rem ; 
}

.info-components > table 
{
    margin                          :           1.5rem 0; 
    width                           :           100%; 
}

.info-components > table th, 
.info-components > table td 
{
    padding                         :           0.2rem 0rem; 
    text-align                      :           left; 
    width                           :           50%;
    font-size                       :           14px;  
}



#canvas 
{
    background-color                :           white;
}